body {
    font-family: Arial, sans-serif;
    background-color: rgb(192, 192, 192);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #4caf50;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
}

.button-login {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f2f2f2;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu li a:hover {
    background-color: #4caf50;
    color: #fff;
}

