<!DOCTYPE html>
<html>

<head>
    <title>Administrador</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-admin.css') }}">
</head>

<body>
    {% if session['tipo_usuario'] == 'Administrador' %}
    <div class="header">
        <h1>Administrador</h1>
    </div>
    <div class="menu-container">
        <ul class="menu">
            <li><a href="#">Consultar itinerario de insumos</a></li>
            <li><a href="#">Consultar reportes de venta</a></li>
            <!--<li><a href="#">Agregar, actualizar, eliminar vendedores</a></li>-->
            <li><a href="../registrarProducto">Agregar productos</a></li>
            <li><a href="../productos">Consultar productos</a></li>
            {% endif %}
            <li><a href="./logout" class="button-login">Cerrar sesion</a></li>
        </ul>
        </ul>
    </div>
</body>

</html>