<!DOCTYPE html>
<html>
<head>
  <title>Micheladas a tu casa</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-casa.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Micheladas a tu casa</h1>
      <div align="right" class="header-buttons">
        <button onclick="window.location.href='/login'">Ingresar</button>
        <button onclick="window.location.href='/registro-cliente'">Registrarme</button>
      </div>
    </div>
  <div class="container">
    {% for producto in productos %}
    <div class="product">
      <img src="product1.jpg" alt="Pedido 1">
      <h2>{{ producto.nombre }}</h2>
      <p>{{ producto.descripcion }}</p>
      <p class="price">${{ producto.precio }}</p>
      <button>Comprar</button>
    </div>
    {% endfor %}
    <!-- Add more product elements as needed -->
  </div>
  <div class="footer">
    &copy; 2023 Micheladas a tu casa. Todos los derechos reservados.
  </div>
</body>
</html>
