<!DOCTYPE html>
<html>
<head>
    <title>Lista de productos</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad en Inventario</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.cantidadInventario }}</td>
                <td>
                <a href="/editarProducto/{{ producto.id }}">Editar</a>
                <a href="/eliminarProducto/{{ producto.id }}">Eliminar</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


