<!DOCTYPE html>
<html>
<head>
    <title>Registrar producto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-producto.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registrar producto</h1>
        <form action="/reProducto" method="GET">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required value="{{
                request.form.nombre}}">

            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" value="{{
                request.form.descripcion}}">

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio"  required value="{{
                request.form.precio}}">

            <label for="cant_inventario">Cantidad inventario:</label>
            <input type="number" id="cant_inventario" name="cant_inventario" 
            step="1" required value="{{request.form.cant_inventario}}">

            <input type="submit" value="Registrar">
        </form>
    </div>
</body>
</html>
