{%extends 'base.html'%}

{%block title%}Product Search{%endblock%}

{%block content%}

<div class="container d-flex flex-column align-items-center mt-5">
    <h1 class="mb-5">Product List</h1>
    <form action="{{ url_for('list_products') }}" method="GET" class="mb-5">
        <input type="text" name="search" placeholder="Search by name" value="{{ request.args.get('search', '') }}">
        <input type="submit" value="Search">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Amount Available</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.amount_available }}</td>
                    <td>
                        <form action="{{ url_for('eliminate_product', product_id=product.id) }}" method="POST">
                            <input type="submit" value="Eliminate">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{%endblock%}