<!DOCTYPE html>
<html>
<head>
  <title>Ingresar</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-login.css') }}">
</head>
<body>
  <div class="container">
    <h2>Ingresar</h2>
    <form action="" method="POST">
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo" required value="{{ request.form.correo }}">
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required value="{{ request.form.contrasena }}">
      </div>
      <div class="form-group">
        <button type="submit">Ingresar</button>
      </div>
    </form>
  </div>
</body>
</html>