<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <h1>Inicia sesión</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="Correo" name="correo" value="{{
                    request.form.correo
                    }}">
            <input type="text" placeholder="Nombre" name="nombre" value="{{
                    request.form.nombre
                    }}">
            <input type="password" placeholder="Contraseña" name="contrasena" value="{{
                    request.form.contrasena
                    }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error  %}
            <p class="error"><strong>Error: </strong> {{ error }}</p>
        {% endif %}
    </div>
    <header>
        {% block header %}{% endblock %}
    </header>
</body>
</html>