<!DOCTYPE html>
<html>
<head>
  <title>Pedidos</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-pedidos.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Micheladas a tu casa</h1>
        <h2>Pedidos</h2>
    </div>
  <div class="container">
    {% for pedido in pedidos %}
    <div class="product">
      <h2>Pedido {{ pedido.idPedido }}</h2>
      <p class="cantidad">5</p>
      <p class="total">${{ pedido.total }}</p>
      <button onclick="window.location.href='/producto'">Atender</button>
    </div>
    {% endfor %}
    <!-- Add more product elements as needed -->
  </div>
  <div class="footer">
    &copy; 2023 Micheladas a tu casa. Todos los derechos reservados.
  </div>
</body>
</html>
