<!DOCTYPE html>
<html>
<head>
  <title>Pedidos</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-pedidos.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
  <div class="container">
    <div class="header">
      <h1>Micheladas a tu casa</h1>
        <h2>Pedidos</h2>
    </div>
  <div class="container">
    {% for pedido in pedidos %}
    <div class="product">
      <h3>Pedido {{ pedido.id_pedido }}</h3>
      <p class="fecha">{{ pedido.fecha }}</p>
      <p class="cantidad">{{ pedido.cantidad }} {{ pedido.producto }} (s).</p>
      <p class="total">${{ pedido.total }}</p>
      <button onclick="window.location.href='/pedido/{{ pedido.id_pedido }}'">Atender</button>
    </div>
    {% endfor %}
    <!-- Add more product elements as needed -->
  </div>
  <div class="footer">
    &copy; 2023 Micheladas a tu casa. Todos los derechos reservados.
  </div>
</body>
</html>
