<!DOCTYPE html>
<html>
<head>
    <title>Lista de productos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-producto.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>
<body>
    <div class="header">
        <h1>Lista de productos</h1>
        {% if session['usuario']%}
        <nav class="navbar">
            <ul>
                {% if session['tipo_usuario'] == 'Administrador' %}
                    <li><a href="./registrarProducto">Agregar producto</a></li>
                {% endif %}
                <li><a href="./logout">Cerrar sesion</a></li>
            </ul>
        </nav>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad en Inventario</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr  onclick="window.location.href='/producto/{{producto.id_producto}}'">
                <td>{{ producto.id_producto }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.cant_inventario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1>Debe iniciar sesion para ver esta pagina</h1>
        <button onclick="window.location.href='./login'" class="button-login">Iniciar sesion</button>
    {% endif %}
</body>
</html>
