<!DOCTYPE html>
<html>
<head>
    <title>Lista de productos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-producto.css') }}">
</head>
<body>
    <div class="header">
        <h1>Lista de productos</h1>
        <nav class="navbar">
            <ul>
                <li><a href="./registrarProducto">Agregar producto</a></li>
            </ul>
        </nav>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad en Inventario</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr  onclick="window.location.href='/producto/{{producto.idProducto}}'">
                <td>{{ producto.idProducto }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.cant_inventario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
