<!DOCTYPE html>
<html>

<head>
    <title>Detalles del producto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-producto.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>

<body>
    <div class="header">
        <h1>Detalles del producto</h1>
        {% if session['usuario'] and session['tipo_usuario']%}
        <nav class="navbar">
            <ul>
                {% if session['tipo_usuario'] == 'Administrador' %}
                    <li><a href="../registrarProducto">Agregar producto</a></li>
                {% endif %}
                <li><a href="../productos">Consultar productos</a></li>
                <li><a href="../logout">Cerrar sesion</a></li>
            </ul>
        </nav>
    </div>
    <div class="container ">
        <div class="product-container">
            <div class="product-card">
                <h2 class="product-title"><strong>Nombre:</strong> {{ producto.nombre }}</h2>
                <p class="product-price"><strong>Precio:</strong> {{ producto.precio }}</p>
                <p class="product-description"><strong>Descripción:</strong>{{ producto.descripcion }}</p>
                <p class="product-price"><strong>Cantidad en Inventario:</strong> {{ producto.cant_inventario }}</p>
                {% if session['tipo_usuario'] == 'Administrador' %}
                    <a class="product-button" href="../editarProducto/{{ producto.idProducto }}">Editar</a>
                    <a class="product-button" href="../eliminarProducto/{{ producto.idProducto }}">Eliminar</a>
                {% endif %}
            </div>
        </div>
        {% else %}
            {% if session['usuario'] %}
                <h1>Debe iniciar sesion como administrador para ver esta pagina</h1>
                <button onclick="window.location.href='../logout'" class="button-login">Cerrar sesion</button>
            {% else %}
                <h1>Debe iniciar sesion para ver esta pagina</h1>
                <button onclick="window.location.href='../login'" class="button-login">Iniciar sesion</button>
            {% endif %}
        {% endif %}
    </div>
</body>

</html>