<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful login</title>
</head>
<body>
    <nav>
        <h1>Successful login!</h1>
        <ul>
            {% if session.get('user_id') != None %}
            <li>Hello <span>{{ session.get('user_id') }}</span></li>
            <li><a href="{{ url_for('logout.logout') }}">Log out</a> </li>
            {% endif %}
        </ul>
    </nav>
<section class="content">
    <header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </header>
</section>
</body>
</html>